body {
    margin: 0 auto;
    max-width: fit-content;
    font-size: 17px;
    font-weight: 500;
    padding-top: 10px;
    /*add box shadow*/
}
.container {
    box-shadow: 6px 10px 10px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.delete-button,
.mode-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container * {
    padding: 7px;
    margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
}

.add-btn {
    border-radius: 5px;
    border: none;
}

.generated-todo {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

.description {
    margin: 0 0 0 20px;
    max-width: 300px;
    height: fit-content;
    word-wrap: break-word; /*this helped wrap around*/
    cursor: pointer;
}

.generated-date {
    display: inline-block;
    margin-left: 120px;
    font-size: 12px;
}

.small-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.delete-all {
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.input-container {
    display: grid;
    grid-template-columns: 150px 200px 150px 100px;
}

.username-input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    font-size: 17px;
    flex: 1;
}

.username-input:focus {
    outline: none;
}

.username {
    font-size: 20px;
}

fieldset {
    margin: 5px 0 10px 0;
    display: flex;
}

.fieldset {
    border: none;
}

/*If screen <= 527px activate these styles*/
@media (max-width: 527px) {
    .input-container {
        grid-template-columns: 10px 10px 10px 2px;
    }
    .add-btn {
        height: 1000000px;
    }
}
/*if screen is <= 570px activate these styles*/
@media (max-width: 570px) {
    .input-container {
        grid-template-columns: 140px 150px 150px 70px;
        align-items: center;
    }
  
    .add-btn {
        height: 40px;
        width: 4em;
        margin-left: 15px;
    }

    fieldset span {
        display: none;
    }
    .other-add-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

/*If screen 586px >= size <= 638px*/
@media (min-width: 586px) and(max-width: 638px) {
    .container {
        margin: 20px;
    }
    .input-container {
        grid-template-columns: 1fr 1fr 1fr 50px;
        width: fit-content;
    }
}
@media (max-width: 375px) {
    .input-container {
        grid-template-columns: 100PX 100PX 100px 100px!important;
    }
    .delete-all {
        background-color: red;
    }
    .add-btn {
        margin: 0 0 0 -2px !important; 
    }
}

@media (min-width: 570px) {
    .other-add-btn {
        display: none;
    }
}
